* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid blue; */ }

html {
  font-size: 62.5%; }

body {
  background-image: url(../assets/img/banner-web.png); }

body::-webkit-scrollbar {
  width: 0.65rem; }

body::-webkit-scrollbar-track {
  background: #ffffff; }

body::-webkit-scrollbar-thumb {
  background: #620505; }

header .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logo-container;
  width: 100%;
  background-color: #702626; }
  header .logo-container .logo-body {
    width: 70%; }
    header .logo-container .logo-body a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      visibility: hidden; }
      header .logo-container .logo-body a .logo {
        margin-left: 46px;
        width: 80px;
        visibility: visible; }
  header .logo-container .nav-listcontainer {
    grid-area: nav-listcontainer; }
    header .logo-container .nav-listcontainer .nav-listheader {
      width: 100%;
      height: inherit;
      font-size: 2rem;
      color: #000000; }
      header .logo-container .nav-listcontainer .nav-listheader__item a {
        display: flex;
        flex-direction: column;
        align-items: center; }
        header .logo-container .nav-listcontainer .nav-listheader__item a p {
          color: #ffffff;
          font-size: 1.5rem; }
          header .logo-container .nav-listcontainer .nav-listheader__item a p:hover {
            color: #aaaaaa; }
      header .logo-container .nav-listcontainer .nav-listheader .logo-login {
        visibility: visible;
        width: 25px; }

#centrar {
  display: flex;
  justify-content: center; }
  @media screen and (min-width: 375px) {
    #centrar {
      display: block; } }
  @media screen and (min-width: 420px) {
    #centrar {
      display: block; } }
  @media screen and (min-width: 540px) {
    #centrar {
      display: block; } }
  @media screen and (min-width: 768px) {
    #centrar {
      display: block; } }
  @media screen and (min-width: 1024px) {
    #centrar {
      display: flex; } }

.index-nav {
  grid-area: index-nav; }
  .index-nav .menu-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #531919;
    height: 52px; }
    @media screen and (min-width: 1024px) {
      .index-nav .menu-btn {
        display: none; } }
    .index-nav .menu-btn .hamburger-btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
    .index-nav .menu-btn .img-menu {
      width: 52px; }
    .index-nav .menu-btn #check {
      display: visible; }
      .index-nav .menu-btn #check:checked ~ .nav-list {
        background: green;
        min-height: 100vh; }
        .index-nav .menu-btn #check:checked ~ .nav-list li {
          visibility: visible; }
  .index-nav .nav-list {
    background-color: #f1f1f1;
    font-size: 2rem;
    padding: 8px 0px; }
    @media screen and (min-width: 420px) {
      .index-nav .nav-list {
        font-size: 1.5rem; } }
    @media screen and (min-width: 540px) {
      .index-nav .nav-list {
        font-size: 1.8rem; } }
    @media screen and (min-width: 768px) {
      .index-nav .nav-list {
        font-size: 2rem; } }
    @media screen and (min-width: 1024px) {
      .index-nav .nav-list {
        font-size: 2rem; } }
  .index-nav .angle {
    display: none; }
  .index-nav .nav-list__item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px; }
    @media screen and (min-width: 375px) {
      .index-nav .nav-list__item {
        display: block;
        padding: 2px 10px;
        border-bottom: 2px solid #77777786; } }
    @media screen and (min-width: 420px) {
      .index-nav .nav-list__item {
        display: block;
        padding: 2px 10px;
        border-bottom: 2px solid #77777786; } }
    @media screen and (min-width: 540px) {
      .index-nav .nav-list__item {
        display: block;
        padding: 2px 10px;
        border-bottom: 2px solid #77777786; } }
    @media screen and (min-width: 768px) {
      .index-nav .nav-list__item {
        display: block;
        padding: 2px 10px;
        border-bottom: 2px solid #77777786; } }
    @media screen and (min-width: 1024px) {
      .index-nav .nav-list__item {
        padding: 0px 10px;
        border: none; } }
  .index-nav a {
    color: #434343; }
    .index-nav a:hover {
      color: #a04b4b;
      padding-bottom: 8px; }
  .index-nav .nav-list .nav-list__item:hover ul {
    display: block; }

.bg-black100 {
  background-color: #000000; }

.nav-list__sub {
  border-radius: 10px;
  width: 19rem;
  background-color: #333333;
  display: none;
  position: absolute;
  margin-top: 8px;
  padding: 10px;
  z-index: 20; }
  .nav-list__sub .triangle {
    position: absolute;
    top: -7px;
    left: 31px;
    border-bottom: 10px solid #333333;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent; }
  .nav-list__sub .bg-black {
    background-color: rgba(0, 0, 0, 0.5);
    height: 2vh; }
  .nav-list__sub .nav-list__subitem {
    margin: 5px 0px;
    border-bottom: 1px solid #434343;
    display: block;
    position: relative; }
    .nav-list__sub .nav-list__subitem a {
      color: #ffffff;
      font-size: 1.6rem; }
      .nav-list__sub .nav-list__subitem a:hover {
        color: #a04b4b;
        padding-bottom: 8px; }

.index-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 160px;
  background-color: #323232; }
  @media screen and (min-width: 375px) {
    .index-footer {
      height: 45rem;
      flex-direction: column; } }
  @media screen and (min-width: 420px) {
    .index-footer {
      height: 45rem;
      flex-direction: column; } }
  @media screen and (min-width: 540px) {
    .index-footer {
      height: 45rem;
      flex-direction: column; } }
  @media screen and (min-width: 768px) {
    .index-footer {
      height: 45rem;
      flex-direction: column; } }
  @media screen and (min-width: 1024px) {
    .index-footer {
      flex-direction: row;
      height: 160px; } }
  .index-footer .logo-footer {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    height: 140px; }
    @media screen and (min-width: 375px) {
      .index-footer .logo-footer {
        height: 140px; } }
    @media screen and (min-width: 420px) {
      .index-footer .logo-footer {
        height: 140px; } }
    @media screen and (min-width: 540px) {
      .index-footer .logo-footer {
        height: 150px; } }
    @media screen and (min-width: 768px) {
      .index-footer .logo-footer {
        height: 150px; } }
    @media screen and (min-width: 1024px) {
      .index-footer .logo-footer {
        height: 140px; } }
    .index-footer .logo-footer .logof {
      margin: 0 auto;
      height: 100px;
      width: 100px; }
    .index-footer .logo-footer .logo-info {
      align-self: center;
      color: #ffffff;
      text-align: center;
      width: 200px;
      height: 22px; }
  .index-footer .contact-info {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 122px; }
    @media screen and (min-width: 375px) {
      .index-footer .contact-info {
        align-items: center;
        height: 150px; } }
    @media screen and (min-width: 420px) {
      .index-footer .contact-info {
        align-items: center;
        height: 150px; } }
    @media screen and (min-width: 540px) {
      .index-footer .contact-info {
        align-items: center;
        height: 150px; } }
    @media screen and (min-width: 768px) {
      .index-footer .contact-info {
        align-items: center;
        height: 150px; } }
    @media screen and (min-width: 1024px) {
      .index-footer .contact-info {
        align-self: center;
        height: 122px; } }
    .index-footer .contact-info .contact-info2 {
      width: 38rem;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (min-width: 375px) {
        .index-footer .contact-info .contact-info2 {
          width: 31rem; } }
      @media screen and (min-width: 420px) {
        .index-footer .contact-info .contact-info2 {
          width: 31rem; } }
      @media screen and (min-width: 540px) {
        .index-footer .contact-info .contact-info2 {
          width: 38rem; } }
      @media screen and (min-width: 768px) {
        .index-footer .contact-info .contact-info2 {
          width: 38rem; } }
      @media screen and (min-width: 1024px) {
        .index-footer .contact-info .contact-info2 {
          width: 38rem; } }
      .index-footer .contact-info .contact-info2 .contact-info__p {
        font-size: 1.6rem;
        color: #ffffff;
        text-align: center; }
        @media screen and (min-width: 375px) {
          .index-footer .contact-info .contact-info2 .contact-info__p {
            font-size: 1.4rem; } }
        @media screen and (min-width: 420px) {
          .index-footer .contact-info .contact-info2 .contact-info__p {
            font-size: 1.4rem; } }
        @media screen and (min-width: 540px) {
          .index-footer .contact-info .contact-info2 .contact-info__p {
            font-size: 1.6rem; } }
        @media screen and (min-width: 768px) {
          .index-footer .contact-info .contact-info2 .contact-info__p {
            font-size: 1.6rem; } }
        @media screen and (min-width: 1024px) {
          .index-footer .contact-info .contact-info2 .contact-info__p {
            font-size: 1.6rem; } }
      .index-footer .contact-info .contact-info2 .contact-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px; }
        .index-footer .contact-info .contact-info2 .contact-btn .contact-btn label {
          font-size: 1.6rem;
          color: #ffffff; }
        .index-footer .contact-info .contact-info2 .contact-btn .footerbtn {
          color: #ffffff;
          font-size: 2rem;
          padding: 6px 6px;
          border-radius: 40px;
          border: 3px solid #ffffff;
          z-index: 999999;
          background: rgba(0, 0, 0, 0);
          font-size: 1.7rem; }
          @media screen and (min-width: 420px) {
            .index-footer .contact-info .contact-info2 .contact-btn .footerbtn {
              font-size: 1.7rem; } }
          @media screen and (min-width: 540px) {
            .index-footer .contact-info .contact-info2 .contact-btn .footerbtn {
              font-size: 2rem; } }
          @media screen and (min-width: 768px) {
            .index-footer .contact-info .contact-info2 .contact-btn .footerbtn {
              font-size: 2rem; } }
          @media screen and (min-width: 1024px) {
            .index-footer .contact-info .contact-info2 .contact-btn .footerbtn {
              font-size: 2rem; } }
          .index-footer .contact-info .contact-info2 .contact-btn .footerbtn:hover {
            color: #000000;
            background: #ffffff; }
  .index-footer .info {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    color: #ffffff;
    height: 140px; }
    @media screen and (min-width: 375px) {
      .index-footer .info {
        font-size: 1.4rem; } }
    @media screen and (min-width: 420px) {
      .index-footer .info {
        font-size: 1.4rem;
        height: 150px; } }
    @media screen and (min-width: 540px) {
      .index-footer .info {
        height: 150px; } }
    @media screen and (min-width: 768px) {
      .index-footer .info {
        height: 150px; } }
    .index-footer .info__title {
      text-align: center;
      position: relative; }
    .index-footer .info__p {
      text-align: center;
      position: relative; }
    .index-footer .info .ubi {
      margin: 0 auto;
      width: 65px;
      height: auto; }

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100vh; }
  .main-container .main-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48%; }
    .main-container .main-container2 .main-container__title {
      text-align: center;
      color: #ffffff;
      font-size: 3rem;
      width: 100%; }
    .main-container .main-container2 .main-container__btn {
      color: #ffffff;
      font-size: 20px;
      padding: 6px 6px;
      border-radius: 40px;
      border: 3px solid #ffffff;
      z-index: 999999;
      background: rgba(0, 0, 0, 0); }
    .main-container .main-container2 .main-container__btn:hover {
      color: #000000;
      background: #FFFFFF; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer"; }
  .grid-container .index-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "index-banner" "banner-bottom" "p-container" "title-container"; }
    .grid-container .index-main .index-banner {
      grid-area: index-banner; }
      .grid-container .index-main .index-banner .banner {
        grid-area: header;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #702626; }
        @media screen and (min-width: 375px) {
          .grid-container .index-main .index-banner .banner {
            display: none; } }
        @media screen and (min-width: 420px) {
          .grid-container .index-main .index-banner .banner {
            display: none; } }
        @media screen and (min-width: 540px) {
          .grid-container .index-main .index-banner .banner {
            display: none; } }
        @media screen and (min-width: 768px) {
          .grid-container .index-main .index-banner .banner {
            display: none; } }
        @media screen and (min-width: 1024px) {
          .grid-container .index-main .index-banner .banner {
            display: block; } }
      .grid-container .index-main .index-banner .banner-mobile {
        display: none; }
        @media screen and (min-width: 375px) {
          .grid-container .index-main .index-banner .banner-mobile {
            display: block;
            width: 100%;
            border-bottom: 4px solid #702626; } }
        @media screen and (min-width: 420px) {
          .grid-container .index-main .index-banner .banner-mobile {
            display: block;
            width: 100%;
            border-bottom: 4px solid #702626; } }
        @media screen and (min-width: 540px) {
          .grid-container .index-main .index-banner .banner-mobile {
            display: block;
            width: 100%;
            border-bottom: 4px solid #702626; } }
        @media screen and (min-width: 768px) {
          .grid-container .index-main .index-banner .banner-mobile {
            display: block;
            width: 100%;
            border-bottom: 4px solid #702626; } }
        @media screen and (min-width: 1024px) {
          .grid-container .index-main .index-banner .banner-mobile {
            display: none; } }
      .grid-container .index-main .index-banner .positionbtn {
        position: absolute;
        top: 44%;
        left: 46%; }
      .grid-container .index-main .index-banner .topbtn {
        width: auto;
        height: auto; }
        .grid-container .index-main .index-banner .topbtn__btn {
          position: relative;
          color: #ffffff;
          font-size: 20px;
          padding: 9px 27px;
          border-radius: 40px;
          border: 3px solid #434343;
          background: #434343; }
        .grid-container .index-main .index-banner .topbtn__btn:hover {
          color: #000000;
          border: 3px solid #ffffff;
          background: white; }
    .grid-container .index-main .banner-bottom {
      grid-area: banner-bottom; }
      .grid-container .index-main .banner-bottom .bannerdw {
        width: 100%;
        height: auto;
        margin-top: 3%; }
    .grid-container .index-main a {
      color: inherit; }
    .grid-container .index-main .p-container {
      grid-area: p-container;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
      .grid-container .index-main .p-container .p-container2 {
        display: flex;
        width: 86rem;
        align-items: center;
        border: 3px solid #a02727;
        box-shadow: 13px 13px 4px 0px #0000008a; }
        @media screen and (min-width: 375px) {
          .grid-container .index-main .p-container .p-container2 {
            width: 35rem; } }
        @media screen and (min-width: 420px) {
          .grid-container .index-main .p-container .p-container2 {
            width: 35rem; } }
        @media screen and (min-width: 540px) {
          .grid-container .index-main .p-container .p-container2 {
            width: 45rem; } }
        @media screen and (min-width: 768px) {
          .grid-container .index-main .p-container .p-container2 {
            width: 60rem; } }
        @media screen and (min-width: 1024px) {
          .grid-container .index-main .p-container .p-container2 {
            width: 86rem; } }
      .grid-container .index-main .p-container__txt > p {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        text-align: center; }
        @media screen and (min-width: 375px) {
          .grid-container .index-main .p-container__txt > p {
            margin-top: 0.5rem;
            margin-bottom: 1rem; } }
        @media screen and (min-width: 420px) {
          .grid-container .index-main .p-container__txt > p {
            margin-top: 0.5rem;
            margin-bottom: 1rem; } }
        @media screen and (min-width: 1024px) {
          .grid-container .index-main .p-container__txt > p {
            margin-top: 1.5rem;
            margin-bottom: 3rem; } }
      .grid-container .index-main .p-container p {
        font-size: 2rem;
        text-shadow: #434343ab 1px 1px;
        color: #a02727; }
        @media screen and (min-width: 375px) {
          .grid-container .index-main .p-container p {
            text-shadow: #434343ab .5px .5px;
            font-size: 1.5rem; } }
        @media screen and (min-width: 420px) {
          .grid-container .index-main .p-container p {
            text-shadow: #434343ab .5px .5px;
            font-size: 1.5rem; } }
        @media screen and (min-width: 540px) {
          .grid-container .index-main .p-container p {
            text-shadow: #434343ab 1px 1px;
            font-size: 1.7rem; } }
        @media screen and (min-width: 768px) {
          .grid-container .index-main .p-container p {
            text-shadow: #434343ab 1px 1px;
            font-size: 2rem; } }
        @media screen and (min-width: 1024px) {
          .grid-container .index-main .p-container p {
            text-shadow: #434343ab 1px 1px;
            font-size: 2rem; } }
    .grid-container .index-main .vh {
      height: 50vh; }
    .grid-container .index-main .title-container {
      grid-area: title-container;
      background-color: #a02727;
      display: flex;
      width: 100%;
      justify-content: center; }
      .grid-container .index-main .title-container__box {
        display: grid;
        justify-items: center;
        width: 100%; }
      .grid-container .index-main .title-container__txt {
        font-size: 4rem;
        color: #ffffff;
        text-shadow: #0000007a 3px 3px;
        background-color: #702626;
        text-align: center;
        height: 50px;
        width: 100%; }
        @media screen and (min-width: 375px) {
          .grid-container .index-main .title-container__txt {
            font-size: 2.6rem;
            padding-top: 9px; } }
        @media screen and (min-width: 420px) {
          .grid-container .index-main .title-container__txt {
            font-size: 2.9rem;
            padding-top: 8px; } }
        @media screen and (min-width: 540px) {
          .grid-container .index-main .title-container__txt {
            padding-top: 3px;
            font-size: 3.8rem; } }
        @media screen and (min-width: 768px) {
          .grid-container .index-main .title-container__txt {
            padding: 0;
            font-size: 4rem; } }
        @media screen and (min-width: 1024px) {
          .grid-container .index-main .title-container__txt {
            padding: 0;
            font-size: 4rem; } }
      .grid-container .index-main .title-container p {
        text-align: left;
        font-weight: 300;
        color: #ffffff; }
      .grid-container .index-main .title-container .logobtm-container {
        width: 180px;
        height: auto; }
        @media screen and (min-width: 375px) {
          .grid-container .index-main .title-container .logobtm-container {
            width: 110px; } }
        @media screen and (min-width: 420px) {
          .grid-container .index-main .title-container .logobtm-container {
            width: 110px; } }
        @media screen and (min-width: 540px) {
          .grid-container .index-main .title-container .logobtm-container {
            width: 130px; } }
        @media screen and (min-width: 630px) {
          .grid-container .index-main .title-container .logobtm-container {
            width: 140px; } }
        @media screen and (min-width: 768px) {
          .grid-container .index-main .title-container .logobtm-container {
            width: 180px; } }
        @media screen and (min-width: 1024px) {
          .grid-container .index-main .title-container .logobtm-container {
            width: 180px; } }
      .grid-container .index-main .title-container .txt {
        font-size: 2.5rem;
        width: 81rem;
        font-size: 1.4rem;
        width: 31rem; }
        @media screen and (min-width: 420px) {
          .grid-container .index-main .title-container .txt {
            font-size: 1.4rem;
            width: 31rem; } }
        @media screen and (min-width: 540px) {
          .grid-container .index-main .title-container .txt {
            font-size: 1.5rem;
            width: 48rem; } }
        @media screen and (min-width: 630px) {
          .grid-container .index-main .title-container .txt {
            font-size: 1.7rem;
            width: 56rem; } }
        @media screen and (min-width: 768px) {
          .grid-container .index-main .title-container .txt {
            font-size: 2rem;
            width: 65rem; } }
        @media screen and (min-width: 1024px) {
          .grid-container .index-main .title-container .txt {
            font-size: 2.5rem;
            width: 81rem; } }
      .grid-container .index-main .title-container .titlebold-container {
        font-weight: 700; }

.form-body {
  display: flex;
  justify-content: center;
  align-items: center; }

.form-contact {
  width: 50rem;
  height: 40px;
  border: 3px solid #702626;
  border-radius: 25px;
  background-color: #4920203b;
  color: #ffffff;
  font-weight: 500;
  padding-left: 25px;
  outline: none; }

.form-contact::placeholder {
  color: #ffffff; }

.form-textarea {
  border: 3px solid #702626;
  border-radius: 25px;
  background-color: #4920203b;
  color: #ffffff;
  outline: none;
  padding: 15px; }

.form-textarea::placeholder {
  color: #ffffff; }

.form-btnres {
  font-size: 2rem;
  color: #702626;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 5px 11px;
  border: 1px solid #ffffff; }

.form-btnsub {
  font-size: 2rem;
  color: #ffffff;
  background-color: #702626;
  border-radius: 25px;
  padding: 5px 11px;
  border: 1px solid #702626; }

.form-btnres:hover {
  background-color: #c8c8c8; }

.form-btnsub:hover {
  background-color: #8d3a3a; }

.idea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 81vh;
  background: #eeeeee; }
  .idea-container .idea-container__box {
    color: #a02727;
    font-size: 2rem;
    width: 105rem;
    padding: 30px;
    border: 5px solid #a02727;
    box-shadow: 5px 5px 5px 0px #00000082; }
    @media screen and (min-width: 375px) {
      .idea-container .idea-container__box {
        font-size: 1.4rem;
        width: 30rem;
        padding: 15px; } }
    @media screen and (min-width: 420px) {
      .idea-container .idea-container__box {
        font-size: 1.4rem;
        width: 34rem;
        padding: 15px; } }
    @media screen and (min-width: 540px) {
      .idea-container .idea-container__box {
        font-size: 1.5rem;
        width: 48rem; } }
    @media screen and (min-width: 768px) {
      .idea-container .idea-container__box {
        font-size: 1.7rem;
        width: 64rem; } }
    @media screen and (min-width: 1024px) {
      .idea-container .idea-container__box {
        width: 86rem; } }
    .idea-container .idea-container__box__box h3 {
      font-size: 3rem;
      text-decoration: underline; }
    .idea-container .idea-container__box .d-flex {
      min-height: 81vh;
      background: #eeeeee; }
    .idea-container .idea-container__box .quotes {
      font-size: 5rem; }
      .idea-container .idea-container__box .quotes .n {
        font-weight: 600;
        font-size: 4rem; }

.cards-container {
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .cards-container .local-pos {
    margin: 25px 0px;
    border-radius: 22px;
    box-shadow: 1px 1px 9px #00000085; }
  .cards-container .local {
    overflow: hidden;
    width: 59%;
    height: 239px;
    background-color: #eeeeee;
    transition: box-shadow 500ms; }
    @media screen and (min-width: 375px) {
      .cards-container .local {
        width: 250px;
        height: 350px; } }
    @media screen and (min-width: 420px) {
      .cards-container .local {
        width: 250px;
        height: 350px; } }
    @media screen and (min-width: 540px) {
      .cards-container .local {
        width: 300px;
        height: 400px; } }
    @media screen and (min-width: 768px) {
      .cards-container .local {
        width: 350px;
        height: 450px; } }
    @media screen and (min-width: 1024px) {
      .cards-container .local {
        width: 59%;
        height: 239px; } }

@keyframes scale2 {
  to {
    transform: scale(1.1, 1.1); } }
    .cards-container .local .local-info {
      width: 100%;
      display: flex; }
      @media screen and (min-width: 375px) {
        .cards-container .local .local-info {
          flex-direction: column; } }
      @media screen and (min-width: 420px) {
        .cards-container .local .local-info {
          flex-direction: column; } }
      @media screen and (min-width: 540px) {
        .cards-container .local .local-info {
          flex-direction: column; } }
      @media screen and (min-width: 768px) {
        .cards-container .local .local-info {
          flex-direction: column; } }
      @media screen and (min-width: 1024px) {
        .cards-container .local .local-info {
          flex-direction: row; } }
      .cards-container .local .local-info #level1 {
        position: absolute;
        margin-top: 1%;
        margin-left: 1%;
        width: 255px;
        z-index: 1;
        color: white;
        background-color: #6ab89c;
        border-radius: 20px; }
        @media screen and (min-width: 375px) {
          .cards-container .local .local-info #level1 {
            margin-top: 9px;
            margin-left: 39px;
            width: 175px; } }
        @media screen and (min-width: 420px) {
          .cards-container .local .local-info #level1 {
            margin-top: 8px;
            margin-left: 38px;
            width: 180px; } }
        @media screen and (min-width: 540px) {
          .cards-container .local .local-info #level1 {
            margin-top: 13px;
            margin-left: 60px; } }
        @media screen and (min-width: 768px) {
          .cards-container .local .local-info #level1 {
            margin-top: 13px;
            margin-left: 82px; } }
        @media screen and (min-width: 1024px) {
          .cards-container .local .local-info #level1 {
            margin-top: 1%;
            margin-left: 1%; } }
      .cards-container .local .local-info #level2 {
        position: absolute;
        margin-top: 1%;
        margin-left: 1%;
        width: 255px;
        z-index: 1;
        color: white;
        background-color: #ffb244;
        border-radius: 20px; }
        @media screen and (min-width: 375px) {
          .cards-container .local .local-info #level2 {
            margin-top: 9px;
            margin-left: 27px;
            width: 192px; } }
        @media screen and (min-width: 420px) {
          .cards-container .local .local-info #level2 {
            margin-top: 8px;
            margin-left: 20px;
            width: 208px; } }
        @media screen and (min-width: 540px) {
          .cards-container .local .local-info #level2 {
            margin-top: 13px;
            margin-left: 40px; } }
        @media screen and (min-width: 768px) {
          .cards-container .local .local-info #level2 {
            margin-top: 13px;
            margin-left: 70px; } }
        @media screen and (min-width: 1024px) {
          .cards-container .local .local-info #level2 {
            margin-top: 1%;
            margin-left: 1%; } }
      .cards-container .local .local-info #level3 {
        position: absolute;
        margin-top: 1%;
        margin-left: 1%;
        width: 255px;
        z-index: 1;
        color: white;
        background-color: #ff447d;
        border-radius: 20px; }
        @media screen and (min-width: 375px) {
          .cards-container .local .local-info #level3 {
            margin-top: 9px;
            margin-left: 13px;
            width: 224px; } }
        @media screen and (min-width: 420px) {
          .cards-container .local .local-info #level3 {
            margin-top: 8px;
            margin-left: 12px;
            width: 225px; } }
        @media screen and (min-width: 540px) {
          .cards-container .local .local-info #level3 {
            margin-top: 13px;
            margin-left: 40px; } }
        @media screen and (min-width: 768px) {
          .cards-container .local .local-info #level3 {
            margin-top: 13px;
            margin-left: 65px; } }
        @media screen and (min-width: 1024px) {
          .cards-container .local .local-info #level3 {
            margin-top: 1%;
            margin-left: 1%;
            width: 265px; } }
      .cards-container .local .local-info h2 {
        text-align: center;
        font-size: 2.3rem; }
        @media screen and (min-width: 375px) {
          .cards-container .local .local-info h2 {
            font-size: 2.1rem; } }
        @media screen and (min-width: 420px) {
          .cards-container .local .local-info h2 {
            font-size: 2.1rem; } }
        @media screen and (min-width: 540px) {
          .cards-container .local .local-info h2 {
            font-size: 2.1rem; } }
        @media screen and (min-width: 768px) {
          .cards-container .local .local-info h2 {
            font-size: 2.1rem; } }
        @media screen and (min-width: 1024px) {
          .cards-container .local .local-info h2 {
            font-size: 2.3rem; } }
      .cards-container .local .local-info__img {
        position: relative;
        height: auto;
        width: 50%; }
        @media screen and (min-width: 375px) {
          .cards-container .local .local-info__img {
            width: 100%; } }
        @media screen and (min-width: 420px) {
          .cards-container .local .local-info__img {
            width: 100%; } }
        @media screen and (min-width: 540px) {
          .cards-container .local .local-info__img {
            width: 100%; } }
        @media screen and (min-width: 768px) {
          .cards-container .local .local-info__img {
            width: 100%; } }
        @media screen and (min-width: 1024px) {
          .cards-container .local .local-info__img {
            width: 50%; } }
      .cards-container .local .local-info .local-container__p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 239px; }
        @media screen and (min-width: 375px) {
          .cards-container .local .local-info .local-container__p {
            height: 200px; } }
        @media screen and (min-width: 420px) {
          .cards-container .local .local-info .local-container__p {
            height: 200px; } }
        @media screen and (min-width: 540px) {
          .cards-container .local .local-info .local-container__p {
            height: 220px; } }
        @media screen and (min-width: 768px) {
          .cards-container .local .local-info .local-container__p {
            height: 238px; } }
        @media screen and (min-width: 1024px) {
          .cards-container .local .local-info .local-container__p {
            width: 50%;
            height: 239px; } }
        .cards-container .local .local-info .local-container__p .local-body {
          display: flex;
          justify-content: center;
          align-items: center; }
          .cards-container .local .local-info .local-container__p .local-body .local-p {
            font-size: 1.8rem;
            width: 28rem;
            height: auto;
            text-align: center; }
            @media screen and (min-width: 375px) {
              .cards-container .local .local-info .local-container__p .local-body .local-p {
                width: 19rem;
                font-size: 1.4rem; } }
            @media screen and (min-width: 420px) {
              .cards-container .local .local-info .local-container__p .local-body .local-p {
                width: 19rem;
                font-size: 1.5rem; } }
            @media screen and (min-width: 540px) {
              .cards-container .local .local-info .local-container__p .local-body .local-p {
                width: 22rem;
                font-size: 1.7rem; } }
            @media screen and (min-width: 768px) {
              .cards-container .local .local-info .local-container__p .local-body .local-p {
                width: 24rem;
                font-size: 1.9rem; } }
            @media screen and (min-width: 1024px) {
              .cards-container .local .local-info .local-container__p .local-body .local-p {
                width: 30rem;
                font-size: 1.7rem; } }

.txt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 120vh;
  background: #eeeeee;
  padding: 70px; }
  .txt-container .level1 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .txt-container .level1 .level1-container {
      width: 90rem; }
      @media screen and (min-width: 375px) {
        .txt-container .level1 .level1-container {
          width: 28rem; } }
      @media screen and (min-width: 420px) {
        .txt-container .level1 .level1-container {
          width: 32rem; } }
      @media screen and (min-width: 540px) {
        .txt-container .level1 .level1-container {
          width: 40rem; } }
      @media screen and (min-width: 768px) {
        .txt-container .level1 .level1-container {
          width: 60rem; } }
      @media screen and (min-width: 1024px) {
        .txt-container .level1 .level1-container {
          width: 115rem; } }
      .txt-container .level1 .level1-container #level1c {
        color: #6ab89c;
        font-size: 3rem; }
      .txt-container .level1 .level1-container p {
        color: #434343;
        font-size: 1.7rem;
        margin-bottom: 20px; }
        @media screen and (min-width: 375px) {
          .txt-container .level1 .level1-container p {
            font-size: 1.4rem; } }
        @media screen and (min-width: 420px) {
          .txt-container .level1 .level1-container p {
            font-size: 1.5rem; } }
        @media screen and (min-width: 540px) {
          .txt-container .level1 .level1-container p {
            font-size: 1.5rem; } }
        @media screen and (min-width: 768px) {
          .txt-container .level1 .level1-container p {
            font-size: 1.7rem; } }
        @media screen and (min-width: 1024px) {
          .txt-container .level1 .level1-container p {
            font-size: 1.7rem; } }
  .txt-container .level2 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .txt-container .level2 .level2-container {
      width: 90rem; }
      @media screen and (min-width: 375px) {
        .txt-container .level2 .level2-container {
          width: 28rem; } }
      @media screen and (min-width: 420px) {
        .txt-container .level2 .level2-container {
          width: 32rem; } }
      @media screen and (min-width: 540px) {
        .txt-container .level2 .level2-container {
          width: 40rem; } }
      @media screen and (min-width: 768px) {
        .txt-container .level2 .level2-container {
          width: 60rem; } }
      @media screen and (min-width: 1024px) {
        .txt-container .level2 .level2-container {
          width: 115rem; } }
      .txt-container .level2 .level2-container #level2c {
        color: #ffb244;
        font-size: 3rem;
        text-align: right; }
      .txt-container .level2 .level2-container p {
        color: #434343;
        font-size: 1.7rem;
        text-align: right;
        margin-bottom: 20px; }
        @media screen and (min-width: 375px) {
          .txt-container .level2 .level2-container p {
            font-size: 1.4rem; } }
        @media screen and (min-width: 420px) {
          .txt-container .level2 .level2-container p {
            font-size: 1.5rem; } }
        @media screen and (min-width: 540px) {
          .txt-container .level2 .level2-container p {
            font-size: 1.5rem; } }
        @media screen and (min-width: 768px) {
          .txt-container .level2 .level2-container p {
            font-size: 1.7rem; } }
        @media screen and (min-width: 1024px) {
          .txt-container .level2 .level2-container p {
            font-size: 1.7rem; } }
  .txt-container .level3 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .txt-container .level3 .level3-container {
      width: 90rem; }
      @media screen and (min-width: 375px) {
        .txt-container .level3 .level3-container {
          width: 28rem; } }
      @media screen and (min-width: 420px) {
        .txt-container .level3 .level3-container {
          width: 32rem; } }
      @media screen and (min-width: 540px) {
        .txt-container .level3 .level3-container {
          width: 40rem; } }
      @media screen and (min-width: 768px) {
        .txt-container .level3 .level3-container {
          width: 60rem; } }
      @media screen and (min-width: 1024px) {
        .txt-container .level3 .level3-container {
          width: 115rem; } }
      .txt-container .level3 .level3-container #level3c {
        color: #ff447d;
        font-size: 3rem;
        text-align: center; }
      .txt-container .level3 .level3-container p {
        color: #434343;
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 20px; }
        @media screen and (min-width: 375px) {
          .txt-container .level3 .level3-container p {
            font-size: 1.4rem; } }
        @media screen and (min-width: 420px) {
          .txt-container .level3 .level3-container p {
            font-size: 1.5rem; } }
        @media screen and (min-width: 540px) {
          .txt-container .level3 .level3-container p {
            font-size: 1.5rem; } }
        @media screen and (min-width: 768px) {
          .txt-container .level3 .level3-container p {
            font-size: 1.7rem; } }
        @media screen and (min-width: 1024px) {
          .txt-container .level3 .level3-container p {
            font-size: 1.7rem; } }

#go-somos {
  min-height: 100vh;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center; }
  @media screen and (min-width: 375px) {
    #go-somos {
      flex-direction: column; } }
  @media screen and (min-width: 420px) {
    #go-somos {
      flex-direction: column; } }
  @media screen and (min-width: 540px) {
    #go-somos {
      flex-direction: column; } }
  @media screen and (min-width: 768px) {
    #go-somos {
      flex-direction: column; } }
  @media screen and (min-width: 1024px) {
    #go-somos {
      flex-direction: row; } }
  #go-somos .somos-container {
    width: 84rem; }
    @media screen and (min-width: 375px) {
      #go-somos .somos-container {
        width: 29rem; } }
    @media screen and (min-width: 420px) {
      #go-somos .somos-container {
        width: 35rem; } }
    @media screen and (min-width: 540px) {
      #go-somos .somos-container {
        width: 47rem; } }
    @media screen and (min-width: 768px) {
      #go-somos .somos-container {
        width: 63rem; } }
    @media screen and (min-width: 1024px) {
      #go-somos .somos-container {
        margin-left: 65px;
        width: 74rem; } }
    #go-somos .somos-container .somos-container__2 p {
      text-align: left;
      font-size: 1.9rem;
      padding: 20px 0px; }
      @media screen and (min-width: 375px) {
        #go-somos .somos-container .somos-container__2 p {
          font-size: 1.5rem;
          padding: 10px 0px; } }
      @media screen and (min-width: 420px) {
        #go-somos .somos-container .somos-container__2 p {
          font-size: 1.6rem;
          padding: 12px 0px; } }
      @media screen and (min-width: 540px) {
        #go-somos .somos-container .somos-container__2 p {
          font-size: 1.7rem;
          padding: 14px 0px; } }
      @media screen and (min-width: 768px) {
        #go-somos .somos-container .somos-container__2 p {
          font-size: 1.8rem;
          padding: 16px 0px; } }
      @media screen and (min-width: 1024px) {
        #go-somos .somos-container .somos-container__2 p {
          font-size: 1.9rem;
          padding: 20px 0px; } }
  #go-somos .img-container {
    width: 50rem; }
    #go-somos .img-container .somos-fs {
      display: flex;
      justify-content: center; }
      #go-somos .img-container .somos-fs .img2-container {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 10px;
        box-shadow: 1px 1px 1px #0000004a;
        transition: box-shadow 1s; }
        #go-somos .img-container .somos-fs .img2-container:hover {
          animation-name: scale;
          animation-iteration-count: 1;
          animation-timing-function: ease-in-out;
          animation-duration: 1s;
          animation-delay: 0s;
          animation-fill-mode: forwards;
          box-shadow: 6px 6px 4px #0000004a; }

@keyframes scale {
  to {
    transform: scale(1.2, 1.2); } }
      #go-somos .img-container .somos-fs .somos-fs__container {
        width: 278px;
        font-size: 1.3rem;
        padding-top: 5px;
        font-weight: 700; }

.resena-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #eeeeee;
  min-height: 175vh;
  padding: 80px;
  background-image: linear-gradient(112.5deg, #713838 0%, #713838 10%, #c3c3c3 10%, #c3c3c3 53%, #8e8e8e 53%, #8e8e8e 55%, #777777 55%, #777777 60%, #898989 60%, #898989 88%, #545454 88%, #545454 91%, #713838 91%, #713838 100%), linear-gradient(157.5deg, #713838 0%, #713838 10%, #c3c3c3 10%, #c3c3c3 53%, #8e8e8e 53%, #8e8e8e 55%, #777777 55%, #777777 60%, #898989 60%, #898989 88%, #545454 88%, #545454 91%, #713838 91%, #713838 100%), linear-gradient(135deg, #713838 0%, #713838 10%, #c3c3c3 10%, #c3c3c3 53%, #8e8e8e 53%, #8e8e8e 55%, #777777 55%, #777777 60%, #898989 60%, #898989 88%, #545454 88%, #545454 91%, #713838 91%, #713838 100%), linear-gradient(90deg, #c3c3c3, #c3c2c2);
  background-blend-mode: overlay, overlay, overlay, normal; }
  .resena-container .review-container {
    border-radius: 47px;
    background: #00f2fc;
    background: linear-gradient(0deg, rgba(0, 242, 252, 0) 85%, rgba(0, 242, 252, 0.63069) 100%);
    margin-bottom: 35px; }
    .resena-container .review-container .review-info {
      width: 84rem; }
      .resena-container .review-container .review-info p {
        padding: 10px 0px; }
      .resena-container .review-container .review-info .tit {
        margin-left: 25px; }
        @media screen and (min-width: 375px) {
          .resena-container .review-container .review-info .tit {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 420px) {
          .resena-container .review-container .review-info .tit {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 540px) {
          .resena-container .review-container .review-info .tit {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 768px) {
          .resena-container .review-container .review-info .tit {
            text-align: left;
            margin-left: 35px; } }
        @media screen and (min-width: 1024px) {
          .resena-container .review-container .review-info .tit {
            text-align: left;
            margin-left: 35px; } }
      @media screen and (min-width: 375px) {
        .resena-container .review-container .review-info {
          width: 30rem; } }
      @media screen and (min-width: 420px) {
        .resena-container .review-container .review-info {
          width: 34rem; } }
      @media screen and (min-width: 540px) {
        .resena-container .review-container .review-info {
          width: 42rem; } }
      @media screen and (min-width: 768px) {
        .resena-container .review-container .review-info {
          width: 62rem; } }
      @media screen and (min-width: 1024px) {
        .resena-container .review-container .review-info {
          width: 84rem; } }
  .resena-container .review-container2 {
    border-radius: 47px;
    background: #00aafc;
    background: linear-gradient(0deg, rgba(0, 170, 252, 0) 85%, rgba(0, 123, 252, 0.63069) 100%);
    margin-bottom: 35px; }
    .resena-container .review-container2 .review-info2 {
      width: 84rem; }
      .resena-container .review-container2 .review-info2 p {
        text-align: right;
        padding: 10px 0px; }
      .resena-container .review-container2 .review-info2 h2 {
        text-align: right; }
      .resena-container .review-container2 .review-info2 .tit2 {
        margin-right: 31px; }
        @media screen and (min-width: 375px) {
          .resena-container .review-container2 .review-info2 .tit2 {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 420px) {
          .resena-container .review-container2 .review-info2 .tit2 {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 540px) {
          .resena-container .review-container2 .review-info2 .tit2 {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 768px) {
          .resena-container .review-container2 .review-info2 .tit2 {
            text-align: right;
            margin-right: 35px; } }
        @media screen and (min-width: 1024px) {
          .resena-container .review-container2 .review-info2 .tit2 {
            text-align: right;
            margin-right: 35px; } }
      @media screen and (min-width: 375px) {
        .resena-container .review-container2 .review-info2 {
          width: 30rem; } }
      @media screen and (min-width: 420px) {
        .resena-container .review-container2 .review-info2 {
          width: 30rem; } }
      @media screen and (min-width: 540px) {
        .resena-container .review-container2 .review-info2 {
          width: 42rem; } }
      @media screen and (min-width: 768px) {
        .resena-container .review-container2 .review-info2 {
          width: 62rem; } }
      @media screen and (min-width: 1024px) {
        .resena-container .review-container2 .review-info2 {
          width: 84rem; } }
  .resena-container .review-container3 {
    border-radius: 47px;
    background: #00aafc;
    background: linear-gradient(0deg, rgba(0, 170, 252, 0) 85%, rgba(4, 0, 252, 0.63069) 100%);
    margin-bottom: 35px; }
    .resena-container .review-container3 .review-info3 {
      width: 84rem; }
      .resena-container .review-container3 .review-info3 p {
        padding: 10px 0px; }
      .resena-container .review-container3 .review-info3 .tit3 {
        margin-left: 28px; }
        @media screen and (min-width: 375px) {
          .resena-container .review-container3 .review-info3 .tit3 {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 420px) {
          .resena-container .review-container3 .review-info3 .tit3 {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 540px) {
          .resena-container .review-container3 .review-info3 .tit3 {
            text-align: center;
            margin: 0px; } }
        @media screen and (min-width: 768px) {
          .resena-container .review-container3 .review-info3 .tit3 {
            text-align: left;
            margin-left: 35px; } }
        @media screen and (min-width: 1024px) {
          .resena-container .review-container3 .review-info3 .tit3 {
            text-align: left;
            margin-left: 35px; } }
      @media screen and (min-width: 375px) {
        .resena-container .review-container3 .review-info3 {
          width: 30rem; } }
      @media screen and (min-width: 420px) {
        .resena-container .review-container3 .review-info3 {
          width: 30rem; } }
      @media screen and (min-width: 540px) {
        .resena-container .review-container3 .review-info3 {
          width: 42rem; } }
      @media screen and (min-width: 768px) {
        .resena-container .review-container3 .review-info3 {
          width: 62rem; } }
      @media screen and (min-width: 1024px) {
        .resena-container .review-container3 .review-info3 {
          width: 84rem; } }
  .resena-container .review-container4 {
    border-radius: 47px;
    background: #00aafc;
    background: linear-gradient(0deg, rgba(0, 170, 252, 0) 85%, rgba(135, 0, 252, 0.63069) 100%);
    margin-bottom: 35px; }
    .resena-container .review-container4 .review-info4 {
      width: 84rem; }
      .resena-container .review-container4 .review-info4 h2 {
        text-align: center; }
      .resena-container .review-container4 .review-info4 p {
        padding: 10px 0px;
        text-align: center; }
      @media screen and (min-width: 375px) {
        .resena-container .review-container4 .review-info4 {
          width: 30rem; } }
      @media screen and (min-width: 420px) {
        .resena-container .review-container4 .review-info4 {
          width: 30rem; } }
      @media screen and (min-width: 540px) {
        .resena-container .review-container4 .review-info4 {
          width: 42rem; } }
      @media screen and (min-width: 768px) {
        .resena-container .review-container4 .review-info4 {
          width: 62rem; } }
      @media screen and (min-width: 1024px) {
        .resena-container .review-container4 .review-info4 {
          width: 84rem; } }
  .resena-container .rw-tit {
    font-size: 3rem; }
    @media screen and (min-width: 375px) {
      .resena-container .rw-tit {
        font-size: 2.5rem; } }
    @media screen and (min-width: 420px) {
      .resena-container .rw-tit {
        font-size: 2.7rem; } }
    @media screen and (min-width: 540px) {
      .resena-container .rw-tit {
        font-size: 3rem; } }
    @media screen and (min-width: 768px) {
      .resena-container .rw-tit {
        font-size: 3rem; } }
    @media screen and (min-width: 1024px) {
      .resena-container .rw-tit {
        font-size: 3rem; } }
  .resena-container .rw-inf {
    font-size: 1.8rem; }
    @media screen and (min-width: 375px) {
      .resena-container .rw-inf {
        font-size: 1.4rem; } }
    @media screen and (min-width: 420px) {
      .resena-container .rw-inf {
        font-size: 1.4rem; } }
    @media screen and (min-width: 540px) {
      .resena-container .rw-inf {
        font-size: 1.4rem; } }
    @media screen and (min-width: 768px) {
      .resena-container .rw-inf {
        font-size: 1.8rem; } }
    @media screen and (min-width: 1024px) {
      .resena-container .rw-inf {
        font-size: 1.8rem; } }
