/* CSS Universal */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

html {   
    font-size: 62.5%;
}

body {
    background-image: url(../assets/img/banner-web.png);
}

body::-webkit-scrollbar {
    width: 0.65rem;
}
   
body::-webkit-scrollbar-track {
    background: #ffffff;
}
   
body::-webkit-scrollbar-thumb {
    background: #620505;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "main" "footer";
}

/* CSS index */

.index-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "logo-container" "nav-listcontainer" "index-nav";
    grid-auto-flow: column;
    
}


/* Logo Login */
.logo-container {
    grid-area: logo-container;
    width: 100%;
    background-color: #702626;
}

.logo-container a {
    position: relative;
    left: 48%;
    visibility: hidden;
}

.logo {
    padding: 2px;
    margin-top: 3px;
    width: 80px;
    height: auto;
    visibility: visible;
}

.logo-pos {
    position: relative;
}

.nav-listcontainer {
    grid-area: nav-listcontainer;
    position: absolute;
    width: 41px;
    left: 0;
    margin-top: -63px;
    margin-left: 90%;
    height: 43px;
}

.nav-listheader {
    width: 100%;
    height: inherit;
    font-size: 2rem;
    color: #000000;
}

.nav-listheader__item {
    width: auto;
    height: inherit;
}

.logo-login {
    visibility: visible;
    display: inline-block;
    width: 25px;
}

.login-pos {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}


#centrar {
    display: flex;
    justify-content: center;
}

.index-nav {
    grid-area: index-nav;
}

.nav-list {
    background-color: #f1f1f1;
    font-size: 2rem;
    padding: 8px 0px;
}

.angle {
    display: none;
}

.angle {
    display: none;
}

.angle2 {
    display: none;
}

.angle3 {
    display: none;
}

.angle4 {
    display: none;
}

.angle5 {
    display: none;
}

.angle6 {
    display: none;
}

.nav-list__item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
}

.nav-list__item a:hover {
    color: #a04b4b;
    padding-bottom: 8px;
    
}

.nav-list__sub {
    border-radius: 10px;
    width: 19rem;
    background-color: #333;
    display: none;
    position: absolute;
    margin-top: 8px;
    padding: 10px;
    z-index: 20;
}

.triangle {
    position: absolute;
    top: -7px;
    left: 31px;
    border-bottom: 10px solid #333;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.500);
    height: 2vh;
}

.nav-list__item a {
    color: #434343;
}

.nav-list__subitem a {
    color: #ffffff;
    font-size: 1.6rem;
}

.nav-list__subitem {
    margin: 5px 0px;
    border-bottom: 1px solid #434343;
    display: block;
    position: relative;
}

.nav-list .nav-list__item:hover ul {
    display: block;
}

.index-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "index-banner" "banner-bottom" "p-container" "title-container"; 
}

.index-banner {
    grid-area: index-banner;
}

.banner {
    grid-area: header;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #702626;
}

.banner-mobile {
    display: none;
}

.banner-bottom {
    grid-area: banner-bottom;
}

.bannerdw {
    width: 100%;
    height: auto;
    margin-top: 3%;
}
 
.positionbtn {
    position: absolute;
    top: 44%;
    left: 46%;
}

.topbtn {
    width: auto;
    height: auto;
}

.topbtn__btn {
    position: relative;
    color: #FFFFFF;
    font-size: 20px;
    padding: 9px 27px;
    border-radius: 40px;
    border: 3px solid #434343;
    background: rgba(67, 67, 67, 1)
}
   .topbtn__btn:hover {
    color: #000000;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 1)
   }
   
a {
    color: inherit;
}

.banner-bottom {
    grid-area: banner-bottom;
}

.index-info {
    grid-area: index-info;
}


.p-container {
    grid-area: p-container;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.p-container2 {
    display: flex;
    width: 86rem;
    padding-top: 22px;
    align-items: center;
    border: 3px solid #a02727;
    box-shadow: 13px 13px 4px 0px #0000008a;
}
   
.p-container__txt > p {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.p-container p {
    font-size: 2rem;
    text-shadow: #434343ab 1px 1px;
    color: #a02727;
}

.vh {
    height: 50vh;
}

.title-container {
    grid-area: title-container;
    background-color: #a02727;
    display: flex;
    width: 100%;
    justify-content: center;
}

.title-container__box {
    display: grid;
    justify-items: center;
    width: 100%;
}

.title-container__txt {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: #0000007a 3px 3px;
    background-color: #702626;
    text-align: center;
    height: 50px;
    width: 100%;
}

.title-container p {
    text-align: left;
    font-weight: 300;
    color: #ffffff;
}

.logobtm-container {
    width: 180px;
    height: auto;
}

.txt {
    font-size: 2.5rem;
    width: 81rem;
}

.titlebold-container {
    font-weight: 700;
}
/* CSS FOOTER */
.index-footer {
    display: grid;
    grid-area: footer;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 180px;
    grid-template-areas: "logo-footer contact-info info";
    background-color: #323232;
}

.logo-footer {
    grid-area: logo-footer;
    align-self: center;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;
    height: 125px;
}

.logof {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}

.logo-info {
    align-self: center;
    color: #ffffff;
    text-align: center;
    width: 200px;
    height: 22px;
}

.contact-info {
    grid-area: contact-info;
    grid-row: 2/1;
    align-self: center;
    justify-self: center;
    display: flex;
    width: 95%;
}

.contact-info2  {
    width: 38rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-info__p {
    font-size: 1.6rem;
    color: #ffffff;
    text-align: center;
}


.contact-info__title {
    color: #ffffff;
}

.contact-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact-btn label {
    font-size: 1.6rem;
    color: #ffffff;
}

.footerbtn {
    color: #FFFFFF;
    font-size: 20px;
    padding: 6px 6px;
    border-radius: 40px;
    border: 3px solid #FFFFFF;
    z-index: 999999;
    background: rgba(0, 0, 0, 0);
}

.footerbtn:hover {
    color: #000000;
    background: #FFFFFF;
}

.info {
    grid-area: info;
    align-self: center;
    grid-row: 3/1;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: #ffffff;
}

.info__title {
    text-align: center;
    position: relative;
}

.info__p {
    text-align: center;
    position: relative;
}

.ubi {
    margin: 0 auto;
    width: 65px;
    height: auto;
}

/* CSS OfertaAcademica */
.cards-container {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.local {
    overflow: hidden;
    width: 59%;
    height: 239px;
    background-color: #eeeeee;
    transition: box-shadow 500ms;
}

.local:hover {
    animation-duration: 1s;
    animation-delay: 0;
    animation-name: scale2;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    box-shadow: 1px 1px 9px #000000;
}

@keyframes scale2 {
    to {
        transform: scale(1.1,1.1);
    }
}

.local-pos {
    margin: 25px 0px;
    border-radius: 22px;
    box-shadow: 1px 1px 9px #00000085;
}
.local-info {
    width: 100%;
    display: flex;
}

.local-info h2 {
    text-align: center;
    font-size: 2.3rem;
}

.local-info__img {
    position: relative;
    height: auto;
    width: 50%;
}

.local-container__p {
    display: flex;
    justify-content: center;
    height: 239px;
}

.local-p {
    font-size: 1.8rem;
    width: 80%;
    height: auto;
    text-align: center;
}

.txt-container {
    min-height: 120vh;
    background: #eeeeee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 70px;
}

.level1 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.level2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

.level3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2/3;
}

.level1-container {
    width: 88%;
}

.level2-container {
    width: 88%;
}

.level3-container {
    width: 55%;
}

.level1-container p {
    color: #434343;
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.level2-container p {
    color: #434343;
    font-size: 1.7rem;
    text-align: right;
    margin-bottom: 20px;
}

.level3-container p {
    color: #434343;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 20px;
}

#level1 {
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
    width: 255px;
    z-index: 1;
    color: white;
    background-color: #6ab89c;
    border-radius: 20px;
}

#level2 {
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
    width: 255px;
    z-index: 1;
    color: white;
    background-color: #ffb244;
    border-radius: 20px;
}

#level3 {
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
    width: 255px;
    z-index: 1;
    color: white;
    background-color: #ff447d;
    border-radius: 20px;
}


#level1c {
    color: #6ab89c;
    font-size: 3rem;
}

#level2c {
    color: #ffb244;
    font-size: 3rem;
    text-align: right;
}

#level3c {
    color: #ff447d;
    font-size: 3rem;
    text-align: center;
}

/* CSS QuienesSomos */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.main-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48%;
}

.main-container__title {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    width: 100%;
}

.main-container__btn {
    color: #FFFFFF;
    font-size: 20px;
    padding: 6px 6px;
    border-radius: 40px;
    border: 3px solid #FFFFFF;
    z-index: 999999;
    background: rgba(0, 0, 0, 0);
}

.main-container__btn:hover {
    color: #000000;
    background: #FFFFFF;
}

#go-somos {
    min-height: 100vh;
    background: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.somos-container {
    width: 84rem;
}

.somos-container__2 p {
    text-align: left;
    font-size: 1.9rem;
    padding: 20px 0px;
}

.img-container {
    width: 50rem;
}

.somos-fs {
    display: flex;
    justify-content: center;
}

.img2-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 1px 1px 1px #0000004a;
    transition: box-shadow 1s;
}

.img2-container:hover {
    animation-name: scale;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: 0;
    animation-fill-mode: forwards;
    box-shadow: 6px 6px 4px #0000004a;
    
}

@keyframes scale {
    to {
        transform: scale(1.2,1.2);  
    }
} 

.somos-fs__container {
    width: 278px;
    font-size: 1.3rem;
    padding-top: 5px;
    font-weight: 700;
}

/* CSS Ideario */
.idea-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 81vh;
    background: #eeeeee;
}

.idea-container__box {
    color: #a02727;
    font-size: 2rem;
    width: 105rem;
    padding: 30px;
    border: 5px solid #a02727;
    box-shadow: 5px 5px 5px 0px #00000082;
}

.idea-container__box h3 {
    font-size: 3rem;
    text-decoration: underline;
}

.d-flex {
    min-height: 81vh;
    background: #eeeeee;
}

.quotes {
    font-size: 5rem;
}

.n {
    font-weight: 600;
    font-size: 4rem;
}
/* CSS RESEÑA HISTORICA */
.resena-container {
    background: #eeeeee;
    min-height: 175vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px 400px 400px;
    grid-template-areas:
        "go-resena go-resena"
        "review2 review2"
        "review3 review3"
        "review4 review4";
    padding: 80px;
}

#go-resena {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: go-resena;
}

.review-container {
    width: 70rem;
}

.review-info p {
    padding: 10px 0px
}

.review-info2 h2 {
    text-align: right;
}

.review-info2 p {
    padding: 10px 0px
}

.review-info3 p {
    padding: 10px 0px
}

.review-info4 h2 {
    text-align: center;
}

.review-info4 p {
    padding: 10px 0px;
    text-align: center;
}

.review-container2 {
    grid-column: 2/3;
    grid-row: 1/3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: review2;
}

.review-info__container2 {
    width: 70rem;
}

.review-container3 {
    grid-column: 1/3;
    grid-row: 3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: review3;
}

.review-info__container3 {
    width: 135rem;
}

.review-container4 {
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: review4;
}

.review-info__container4 {
    width: 70rem;
}

.rw-tit {
    font-size: 3rem;
}

.rw-inf {
    font-size: 1.8rem;
}
/* LOGIN */
.bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a73737, #331010);
    height: 100vh;
}

.user-container {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 50%;
    width: 30%;
    background-color: #eeeeee;
    border-radius: 27px;
}

.userlogin-container {
    position: relative;
    margin-top: 27px;
}

.usertitle-container {
    text-align: center;
    font-size: 4rem;
}

.register-container {
    display: flex;
    background: linear-gradient(to top, #232526, #414345);
    width: 20%;
    height: 300px;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    border-radius: 0px 35px 35px 0px;
}

.regiterinfo-container {
    width: 100%;
}
/* ========== Medias Queries ========== */
 /* Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1366px){
    body {
        background-size: contain;
    }

    .index-nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: auto;
    }
    
    .banner {
        display: block;
        height:auto;
        width: 100%;
        border-bottom: 4px solid #702626;
    }

    .positionbtn {
        position: absolute;
        margin-left: 44%;
        margin-top: -6%;
    }

    .topbtn__btn {
        position: relative;
        color: #FFFFFF;
        font-size: 16px;
        padding: 4px 11px;
    }

    .p-container {
        grid-area: p-container;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .p-container2 {
        display: flex;
        width: 50%;
        padding-top: 0;
        align-items: center;
        border: 3px solid #a02727;
        box-shadow: 13px 13px 4px 0px #0000008a;
    }
       
    .p-container__txt > p {
        margin-top: 1.3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    
    .p-container p {
        font-size: 1.6rem;
        text-shadow: #434343ab 1px 1px;
        color: #a02727;
    }

    .title-container {
        grid-area: title-container;
        background-color: #a02727;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .title-container__box {
        display: grid;
        justify-items: center;
        width: 100%;
    }
    
    .title-container__txt {
        font-size: 4rem;
        color: #ffffff;
        text-shadow: #0000007a 3px 3px;
        background-color: #702626;
        text-align: center;
        height: 50px;
        width: 100%;
    }
    
    .logobtm-container {
        width: 155px;
        height: auto;
    }
    
    .txt {
        font-size: 2rem;
        width: 47%;
        margin-bottom: 20px;
    }

    .index-footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "logo-footer contact-info info";
        background-color: #323232;
    }
    
    .logo-footer {
        grid-area: logo-footer;
        align-self: center;
        grid-row: 1/1;
        display: flex;
        flex-direction: column;
        height: 125px;
    }
    
    .contact-info {
        grid-area: contact-info;
        grid-row: 2/1;
        align-self: center;
        justify-self: center;
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    
    .contact-info2  {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact-info__p {
        font-size: 1.4rem;
        color: #ffffff;
        text-align: center;
    }
    
    
    .contact-info__title {
        color: #ffffff;
    }
    
    .contact-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .contact-btn label {
        font-size: 1.6rem;
        color: #ffffff;
    }
    
    .footerbtn {
        color: #FFFFFF;
        font-size: 14px;
    }
    
    .info {
        grid-area: info;
        align-self: center;
        grid-row: 3/1;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        color: #ffffff;
    }
    
    .info__title {
        text-align: center;
        position: relative;
    }
    
    .info__p {
        text-align: center;
        position: relative;
    }
    
    .ubi {
        margin: 0 auto;
        width: 65px;
        height: auto;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    body {
        background-size: contain;
    }

    .index-nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: auto;
    }
    #centrar {
        display: block;
        justify-content: center;
    }
    
    .index-nav {
        grid-area: nav;
    }

    .angle {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 150px;
        margin-bottom: 1px;
    }

    .angle2 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 46px;
        margin-bottom: 1px;
    }

    .angle3 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 36px;
        margin-bottom: 1px;
    }

    .angle4 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 135px;
        margin-bottom: 1px;
    }
    
    .angle5 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 21px;
        margin-bottom: 1px;
    }

    .angle6 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 112px;
        margin-bottom: 1px;
    }

    .nav-list__item {
        position: relative;
        display: block;
        margin: 0 10px;
        padding: 0 10px;
        border-bottom: 1.6px solid rgba(126, 126, 126, 0.6);
    }

    .banner {
        display: none;
    }
    
    .banner-mobile {
        display: block;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #702626;
    }

    .positionbtn { 
        position: absolute;
        margin-left: 39%;
        margin-top: -19%;
    }

    .topbtn__btn {
        position: relative;
        color: #FFFFFF;
        font-size: 20px;
        padding: 9px 19px;
        border-radius: 40px;
        border: 3px solid #434343;
        background: rgba(67, 67, 67, 1); 
    }

    .p-container {
        grid-area: p-container;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .p-container2 {
        display: flex;
        width: 75%;
        padding-top: 0;
        align-items: center;
        border: 3px solid #a02727;
        box-shadow: 13px 13px 4px 0px #0000008a;
    }
       
    .p-container__txt > p {
        margin-top: 1.3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    
    .p-container p {
        font-size: 1.6rem;
        text-shadow: #434343ab 1px 1px;
        color: #a02727;
    }

    .title-container {
        grid-area: title-container;
        background-color: #a02727;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .title-container__box {
        display: grid;
        justify-items: center;
        width: 100%;
    }
    
    .title-container__txt {
        font-size: 4rem;
        color: #ffffff;
        text-shadow: #0000007a 3px 3px;
        background-color: #702626;
        text-align: center;
        height: 50px;
        width: 100%;
    }
    
    .logobtm-container {
        width: 155px;
        height: auto;
    }
    
    .txt {
        font-size: 1.8rem;
        width: 76%;
        margin-bottom: 20px;
    }

    .index-footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "logo-footer contact-info info";
        background-color: #323232;
    }
*
    .logo-footer {
        grid-area: logo-footer;
        align-self: center;
        grid-row: 1/1;
        display: flex;
        flex-direction: column;
        height: 125px;
    }
    
    .contact-info {
        grid-area: contact-info;
        grid-row: 2/1;
        align-self: center;
        justify-self: center;
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    
    .contact-info2  {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact-info__p {
        font-size: 1.4rem;
        color: #ffffff;
        text-align: center;
    }
    
    
    .contact-info__title {
        color: #ffffff;
    }
    
    .contact-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .contact-btn label {
        font-size: 1.6rem;
        color: #ffffff;
    }
    
    .footerbtn {
        color: #FFFFFF;
        font-size: 14px;
        padding: 6px 6px;
    }
    
    .footerbtn:hover {
        color: #000000;
        background: #FFFFFF;
    }
    
    .info {
        grid-area: info;
        align-self: center;
        grid-row: 3/1;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        color: #ffffff;
    }
    
    .info__title {
        text-align: center;
        position: relative;
    }
    
    .info__p {
        text-align: center;
        position: relative;
    }
    
    .ubi {
        margin: 0 auto;
        width: 65px;
        height: auto;
    }
}
/* Mobile */
@media only screen and (max-width: 767px){
    body {
        background-size: contain;
    }

    .index-nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: auto;
    }
    
    #centrar {
        display: block;
        justify-content: center;
    }
    
    .index-nav {
        grid-area: nav;
    }

    .angle {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 150px;
        margin-bottom: 1px;
    }

    .angle2 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 46px;
        margin-bottom: 1px;
    }

    .angle3 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 36px;
        margin-bottom: 1px;
    }

    .angle4 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 135px;
        margin-bottom: 1px;
    }
    
    .angle5 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 21px;
        margin-bottom: 1px;
    }

    .angle6 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 112px;
        margin-bottom: 1px;
    }

    .nav-list__item {
        position: relative;
        display: block;
        margin: 0 10px;
        padding: 0 10px;
        border-bottom: 1.6px solid rgba(126, 126, 126, 0.6);
    }

    .banner {
        display: none;
    }
    
    .banner-mobile {
        display: block;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #702626;
    }

    .positionbtn {
        position: absolute;
        margin-left: 39%;
        margin-top: -19%;
    }

    .topbtn__btn {
        position: relative;
        color: #FFFFFF;
        font-size: 20px;
        padding: 9px 19px;
    }

    .p-container {
        grid-area: p-container;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .p-container2 {
        display: flex;
        width: 75%;
        padding-top: 0;
        align-items: center;
        border: 3px solid #a02727;
        box-shadow: 13px 13px 4px 0px #0000008a;
    }
       
    .p-container__txt > p {
        margin-top: 1.3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    
    .p-container p {
        font-size: 1.6rem;
        text-shadow: #434343ab 1px 1px;
        color: #a02727;
    }

    .title-container {
        grid-area: title-container;
        background-color: #a02727;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .title-container__box {
        display: grid;
        justify-items: center;
        width: 100%;
    }
    
    .title-container__txt {
        font-size: 4rem;
        color: #ffffff;
        text-shadow: #0000007a 3px 3px;
        background-color: #702626;
        text-align: center;
        height: 50px;
        width: 100%;
    }
    
    .logobtm-container {
        width: 155px;
        height: auto;
    }
    
    .txt {
        font-size: 1.8rem;
        width: 76%;
        margin-bottom: 20px;
    }

    .index-footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        background-color: #323232;
    }
    
    .logo-footer {
        grid-area: logo-footer;
        align-self: center;
        grid-row: 1/1;
        display: flex;
        flex-direction: column;
        height: 125px;
    }
    
    .contact-info {
        grid-area: contact-info;
        grid-row: 2/1;
        align-self: center;
        justify-self: center;
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    
    .contact-info2  {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact-info__p {
        font-size: 1.4rem;
        color: #ffffff;
        text-align: center;
    }
    
    
    .contact-info__title {
        color: #ffffff;
    }
    
    .contact-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .contact-btn label {
        font-size: 1.6rem;
        color: #ffffff;
    }
    
    .footerbtn {
        color: #FFFFFF;
        font-size: 14px;
        padding: 6px 6px;
    }
    
    .info {
        grid-area: info;
        align-self: center;
        grid-row: 3/1;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        color: #ffffff;
    }
    
    .info__title {
        text-align: center;
        position: relative;
    }
    
    .info__p {
        text-align: center;
        position: relative;
    }
    
    .ubi {
        margin: 0 auto;
        width: 65px;
        height: auto;
    }
}

@media only screen and (min-width: 420px) and (max-width: 767px){ 
    body {
        background-size: contain;
    }

    .index-nav {
        grid-area: nav;
        display: grid;
        grid-template-columns: auto;
    }

    #centrar {
        display: block;
        justify-content: center;
    }
    
    .index-nav {
        grid-area: nav;
    }
    
    .angle {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 150px;
        margin-bottom: 1px;
    }

    .angle2 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 46px;
        margin-bottom: 1px;
    }

    .angle3 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 36px;
        margin-bottom: 1px;
    }

    .angle4 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 135px;
        margin-bottom: 1px;
    }
    
    .angle5 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 21px;
        margin-bottom: 1px;
    }

    .angle6 {
        display: inline-block;
        position: relative;
        width: 6px;
        margin-left: 112px;
        margin-bottom: 1px;
    }

    .nav-list__item {
        position: relative;
        display: block;
        margin: 0 10px;
        padding: 0 10px;
        border-bottom: 1.6px solid rgba(126, 126, 126, 0.6);
    }

    .banner {
        display: none;
    }
    
    .banner-mobile {
        display: block;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #702626;
    }

    .positionbtn {
        position: absolute;
        margin-left: 35%;
        margin-top: -19%;
    }

    .topbtn__btn {
        position: relative;
        color: #FFFFFF;
        font-size: 15px;
        padding: 7px 15px;
    }

    .p-container {
        grid-area: p-container;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .p-container2 {
        display: flex;
        max-width: 80%;
        padding-top: 0;
    }
       
    .p-container__txt > p {
        margin-top: 1.3rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    .p-container p {
        font-size: 1.3rem;
        text-shadow: #434343ab 1px 1px;
        color: #a02727;
    }

    .title-container {
        grid-area: title-container;
        background-color: #a02727;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .title-container__box {
        display: grid;
        justify-items: center;
        width: 100%;
    }
    
    .title-container__txt {
        font-size: 2.8rem;
        color: #ffffff;
        text-shadow: #0000007a 3px 3px;
        background-color: #702626;
        text-align: center;
        padding-top: 6px;
        height: 41px;
        width: 100%;
    }
    
    .logobtm-container {
        width: 120px;
        height: auto;
    }
    
    .txt {
        font-size: 1.5rem;
        width: 80%;
        margin-bottom: 20px;
    }

    .index-footer {
        display: grid;
        grid-area: footer;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 140px 140px 140px;
        grid-template-areas:
        "logo-footer logo-footer logo-footer"
        "contact-info contact-info contact-info"
        "info info info";
        background-color: #323232;
    }
    
    .logo-info {
        align-self: center;
        color: #ffffff;
        text-align: center;
        width: 200px;
        height: 22px;
    }

    .logo-footer {
        grid-area: logo-footer;
        align-self: center;
        grid-row: 1/1;
        display: flex;
        flex-direction: column;
        height: 125px;
    }
    
    .contact-info {
        grid-area: contact-info;
        grid-row: 2/3;
        align-self: center;
        justify-self: center;
        display: flex;
        width: 100%;
        margin-top: 10px;
    }
    
    .contact-info2  {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .contact-info__p {
        font-size: 1.4rem;
        color: #ffffff;
        text-align: center;
    }
    
    
    .contact-info__title {
        color: #ffffff;
    }
    
    .contact-btn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    .contact-btn label {
        font-size: 1.6rem;
        color: #ffffff;
    }
    
    .footerbtn {
        color: #FFFFFF;
        font-size: 14px;
        padding: 6px 6px;
    }
    
    .info {
        grid-area: info;
        align-self: center;
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        color: #ffffff;
    }
    
    .info__title {
        text-align: center;
        position: relative;
    }
    
    .info__p {
        text-align: center;
        position: relative;
    }
    
    .ubi {
        margin: 0 auto;
        width: 65px;
        height: auto;
    }
}