// COLORS
$red: #a02727;
$darkred: #702626;
$lightred: #a04b4b;
$white: #ffffff;
$black: #000000;
$almostgray: #f1f1f1;
$semigray: #eeeeee;
$lightgray: #434343;
$darkgray: #333333;
$grayf: #323232;