.scroll-top {
    .scroll-top-arrow {
        width: 35px;
        height: 35px;
        background: #474747;
        z-index: 9999;
        position: fixed;
        top: 90%;
        left: 97%;
        bottom: 0;
        border-radius: 100px;
        &:hover {
            background: #202020;
        }
        @include media-up(xxsm){
            width: 25px;
            height: 25px;
            top: 90%;
            left: 90%;
        }
        @include media-up(xsm){
            width: 25px;
            height: 25px;
            top: 90%;
            left: 92%;
        }
        @include media-up(sm){
            width: 25px;
            height: 25px;
            top: 90%;
            left: 93%;
        }
        @include media-up(md){
            width: 35px;
            height: 35px;
            top: 90%;
            left: 93%;
        }
        @include media-up(lg){
            width: 35px;
            height: 35px;
            top: 90%;
            left: 95%;
        }
        @include media-up(xl){
            width: 35px;
            height: 35px;
            left: 95%
        }
        .arrow-up {
            width: 19px;
            position: relative;
            top: 6px;
            left: 8px;
            @include media-up(xxsm){
                top: 6px;
                left: 7px;
                width: 12px
            }
            @include media-up(xsm){
                top: 6px;
                left: 7px;
                width: 12px
            }
            @include media-up(sm){
                top: 6px;
                left: 7px;
                width: 12px
            }
            @include media-up(md){
                top: 7px;
                left: 8px;
                width: 19px
            }
            @include media-up(lg){
                top: 6px;
                left: 8px;
                width: 19px
            }
        }
    }
}
